* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;  
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    z-index: 1;
    display: flex;
}

header{
    background: rgb(15,25,35);
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
    position: fixed;
    z-index: 2;
    
}

body {
    height: 2323px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
}


.header a {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.3s;       
}

.header figure img {
    width: 150px;
}

.header ul {
    display: flex;
}

.header li {
    margin-left: 20px;
}

.header li a:hover {
    color: rgb(243, 209, 15);
}

.header .social ul li {
    background-color: rgb(22, 38, 54);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .social ul li:hover a{
    color: rgb(15,25,35);
}

.header .social ul li:hover {
    background-color: rgb(243, 209, 15);
}



/* introduction */

.introduction {
    padding: 20px 0px;
    background-image: url(../image/bg-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  q;
    height: 72vh;
    position: relative;
        
}

.introduction .overlay{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.452);
}


.introduction .content {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px ;
    justify-content: space-between;
    z-index: 1;
}





 .introduction .content .card-2 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }


.card-1{
    width: 360px;
    height: 520px;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);   
}

.content .card-1{
    align-items: center;
}

.content .card-1 button {
    margin: 26px 70px;
}

.content .card-1  {
    padding: 30px;
}

form h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

 button {
    padding: 30px 0px;
    background-color: rgb(243, 209, 15);
    color: white;
    padding: 17px 32px;
    border: none;
    outline: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 23px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    cursor: pointer;
}

.content .card-1 .item {
    padding: 5px;

}

.card-1 .item input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid#555;
    text-align: justify;
    font-size: 15px;
}


.card-2{
    
    
    max-width: calc(100% - 360px);
    padding: 0 60px;
    order: 2;
}

.card-2 h1 {
    
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: center;   
}

    
.card-2 .line {
    display: flex;
    width: 100px;
    border-radius: 10px;
    height: 4px;
    background: #fac819;
    margin: 20px auto 25px;
}
.card-2 p {
    text-align: center;
    color: #555;
    line-height: 1.8;
    font-size: 18px;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 9px 0px;
    padding: 20px 113px;
    display: block;
   
}

