* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;  
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

header{
    background: rgb(15,25,35);
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
    position: fixed;
}

body {
    height: 2323px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    
    
}


.header a {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.3s;       
}

.header figure img {
    width: 150px;
}

.header ul {
    display: flex;
}

.header li {
    margin-left: 20px;
}

.header li a:hover {
    color: rgb(243, 209, 15);
}

.header .social ul li {
    background-color: rgb(22, 38, 54);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .social ul li:hover a{
    color: rgb(15,25,35);
}

.header .social ul li:hover {
    background-color: rgb(243, 209, 15);
    

}

/* introduction */


.introduction .image {
    
    background-image: url(../image/bg-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    position: relative;
    z-index: -2;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.452);
    z-index: -1;
}

.introduction .container{
    padding: 80px 0px;
}

.box {
    padding: 65px 0px;
}

form {
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    
}

form input {
    display: block;
    margin: 15px auto;
    width: 90%;
    height: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form h2 {
    text-align: center;
    margin-bottom: 35px;
    padding: 50px 5px 5px 5px;
}

form button {
    display: block;
    width: 25%;
    margin-left: 130px;
    margin-top: 25px;
}