* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;  
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    z-index: 1;
    display: flex;
}

header{
    background: rgb(15,25,35);
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
    position: fixed;
    z-index: 1;
    
}

body {
    height: 2323px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    
    
}


.header a {
    color: #fff;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.3s;       
}

.header figure img {
    width: 150px;
}

.header ul {
    display: flex;
}

.header li {
    margin-left: 20px;
}

.header li a:hover {
    color: rgb(243, 209, 15);
}

.header .social ul li {
    background-color: rgb(22, 38, 54);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .social ul li:hover a{
    color: rgb(15,25,35);
}

.header .social ul li:hover {
    background-color: rgb(243, 209, 15);
    

}

/* introduction */


.introduction {
    padding: 80px 0 120px;
    background-image: url(../image/bg-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 72vh;
    position: relative;
}

.introduction .overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(240, 248, 255, 0.452);


}

/* .introduction .container {
    padding: 110px 0px; 
       
} */

.flexbox-container{
    display: flex;
    align-items: center
    
}

.flexbox-item{
    width: 100%;
    height: 600px;
        
}

.flexbox-item-1 {
    width: 360px;
    height: 520px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 20%);
    position: absolute; 
      
}

.flexbox-item-1 {
   font-family: 'Roboto', sans-serif ;

}

.box form {
    padding: 30px;
}


.flexbox-item-1 .box form h2 {
    font-size: 35px;
    text-align: center;
}

.box .item{
    padding: 5px;
}

.box .btn {
    width: 150px;
    height: 80px;
    margin: 0 auto;
    padding: 15px 0
}

form .item input {
    outline: 0;
    display: flex;
    width: 100%;
    margin: 0 0 15px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    letter-spacing: 0;
    height: 43px;
    font-size: 18px;
    z-index: 1;
}
.box button {
    padding: 30px 0px;
    background-color: rgb(243, 209, 15);
    color: white;
    padding: 17px 32px;
    border: none;
    outline: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 23px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    cursor: pointer;
}


.flexbox-item-2 {
    min-height: 100px;  
}